[submodule "parsedenglish_database"]
	path = parsedenglish_database
	url = https://github.com/bacovcin/parsedenglish_database
[submodule "corpus-tools"]
	path = corpus-tools
	url = https://github.com/bacovcin/corpus-tools
